:root {
    --white: #D2D6EF;
    --black: black;
    --green: green;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

h1 {
    font-size: 250%;
    background-color: var(--black);
    color: var(--white);
    padding-left: 10px;
}

h2 {
    font-size: 200%;
    background-color: var(--black);
    color: var(--white);
}

header, #about-me {
    /* border: 1px solid red; */
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    /* box-shadow: 2px 5px 20px white; */
}

header {
    /* border: 1px solid red; */
    display: flex;
    flex: 1 1 auto;
    background-color: var(--black);
}
header:focus, #about-me:focus{
    outline: none;
    box-shadow: 2px 2px 20px var(--green);
}

main {
    margin-top: 3em;
}

nav ul {
    /* border: 1px solid red; */
    margin-right: auto;
    background-color: var(--black);
}

nav li {
    background-color: var(--black);
    margin-left: 2em;
    display: inline-block;
    list-style-type: none;
}

nav li a, #about-me-text {
    /* border: 1px solid red; */
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
}


.my-name, #about-me, .nav-section {
    background-color: var(--black);
    padding: 1em;
}

.my-name {
    /* border: 1px solid blue; */
    min-width: 400px;
    display: flex;
}

#about-me {
    /* border: 1px solid red; */
    display: flex;
    flex: 1 1 auto;
}

#about-me h2 {
    /* border: 1px solid blue; */
    min-width: 400px;
}

#profile {
    width: 3em;
    height: 3em;
    border-radius: 5px;
}

.hero {
    display: flex;
    margin-top: 5em;
    margin-right: 1em;
    margin-left: 1em;
}
#hero-img {
    width: 1020px;
}

#hero-text {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-family: blackletter;
    color: var(--green);
}

#about-me-text {
    text-align: justify;
    margin-left: 2em;
}

@media screen and (max-width: 600px){
    #about-me, header{
        flex-direction: column;
    }
}

@media screen and (max-width: 1500px){
    .hero {
        flex-direction: column;
    }
    #hero-text {
        padding: 20px;
    }
    #hero-img {
        max-width: 100%;
        height: auto;
    }
}
